* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
}
nav {
  padding: 40px 0;
  background: #f4f7fb;
  width: 100%;
}
.nav-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border: 2px solid blue;*/
  width: 90%;
  margin: 0 auto;
}
.logo img {
  width: 230px;
}
.links {
  display: flex;
  align-items: center;
}
.links a span {
  color: #ffffff;
  padding: 10px 20px;
  background: #eea539;
}
.links a {
  text-transform: capitalize;
  color: #000000;
  padding: 0 40px;
  font-size: 23px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 40px;
}
.profile img {
  width: 40px;
}
.hamburger {
  display: none;
}
/*-----------------------------------*/

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.hero-content {
  flex: 1;
}
.head-p {
  padding: 20px 0;
  font-weight: 900;
}
.hero-content h1 {
  color: #000000;
  font-size: 70px;
  font-weight: 900;
}

.hero-content h1 span {
  color: orange;
}

.subtext {
  font-weight: 900;
  line-height: 30px;
  margin: 15px 0;
  color: #000000;
}
.search {
  display: flex;
}
.bar {
  display: flex;
  align-items: center;
  width: 60%;
  border-radius: 8px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #ccc;
}
.bar input {
  font-size: 20px;
  text-transform: capitalize;
  border: none;
  align-items: start;
  outline: none;
  width: 100%;
  padding: 20px 20px 20px 10px;
}
.bar img {
  width: 50px;
  padding-left: 10px;
}

.search button {
  padding: 40px 50px;
  font-size: 20px;
  font-weight: bolder;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.features {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.feature img {
  object-fit: cover;
  background: #000000;
  padding: 10px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.feature {
  width: 22vh;
  height: 24vh;
  padding: 20px;
  background: #f4f7fb;
  text-align: center;
  margin-top: 40px;
}
.feature p {
  font-size: 20px;
}
.number {
  padding: 10px 0;
}

/*-------------------------------*/
.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 70%;
  /*max-width: 550px;*/
}

.pizza-small {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.pizza-small img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

/*-----------------------------------------------------*/
.text {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 13vh;
  border-bottom: 3px solid #8a8a8a;
}
.text-li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000000;
  text-transform: capitalize;
}
.text h3 {
  font-size: x-large;
  text-transform: capitalize;
  color: #eea539;
  padding: 50px 0;
  font-weight: 900;
}
.text h3 span {
  text-transform: lowercase;
}
.text h1 {
  font-size: 60px;
  margin-bottom: 60px;
  font-weight: 900;
  color: #000000;
  text-transform: capitalize;
}
.text h1 span {
  color: #eea539;
}
.text-li h2 {
  font-weight: 900;
  font-size: 30px;
  padding: 45px 0;
}
.text-li h2:nth-child(1) {
  color: #eea539;
}
.text-li .clas {
  padding: 0 40px;
  border-bottom: 8px solid #eea539;
}
/*--------------------------------------------------*/
.big {
  display: flex;
  justify-content: center;
  gap: 110px;
  /*border: 1px solid red;*/
  height: auto;
  margin-top: 70px;
}
.card {
  text-align: center;
  width: 23%;
  height: 60vh;
  position: relative;
}
.card img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.desc {
  padding-top: 170px;
  height: 38vh;
  background: #f4f7fb;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  z-index: -10;
}
.desc h2 {
  font-size: 25px;
  font-weight: bolder;
  color: #000000;
  text-transform: capitalize;
}
.desc p {
  color: #8a8a8a;
  padding: 20px 0;
  font-weight: bolder;
  font-size: 22px;
  padding: 15px 0;
}
.desc h3 {
  font-weight: bolder;
  font-size: 22px;
}
.btn {
  padding: 20px;
  width: 250px;
  color: white;
  background: black;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 22px;
  position: absolute;
  bottom: -25px;
  transform: translateX(-50%);
  /*left: 0;
  right: 0;
  margin: 0 auto;*/
}

/*-------------------------------------------------------*/
.view {
  text-align: center;
  padding: 20px 0;
  padding-bottom: 100px;
}
.view button {
  background: #eea539;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 20px 90px;
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 60px 0;
}
.why-us {
  display: flex;
  align-items: start;
  width: 85%;
  height: auto;
  margin: 0 auto;
}

.why-us-img {
  flex: 1;
}
.why-us-img img {
  width: 100%;
  height: 125vh;
}
.why-us-details-cover {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 125vh;
}
.why-us-details {
  padding: 0 40px;
}
.why-us-details h3 {
  color: #eea539;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 30px;
}
.why-us-details h1 {
  font-size: 50px;
  padding: 35px 0;
  color: #000000;
  text-transform: capitalize;
}
.why-us-details h1 span {
  color: #eea539;
}
.why-us-details p {
  line-height: 45px;
  font-size: 22px;
  color: #000000;
  padding-bottom: 2vh;
}

.why-us-details2 {
  background: #f4f7fb;
  padding: 40px;
  /*margin: 30px 0;*/
}
.why-us-card {
  display: flex;
  align-items: center;
  margin: 60px 0;
  padding: 20px;
  gap: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  border-radius: 10px;
}
.why-us-card img {
  object-fit: cover;
  background: #000000;
  padding: 23px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card-details h2 {
  color: #000000;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 35px;
  padding: 10px;
}
.card-details p {
  line-height: 35px;
  color: #8a8a8a;
  font-size: 20px;
}

.text-2 {
  text-align: center;
  margin-top: 15vh;
}
.text-2 h3 {
  font-size: x-large;
  text-transform: capitalize;
  color: #eea539;
  padding: 50px 0;
  font-weight: 900;
}
.text-2 h1 {
  font-size: 55px;
  margin-bottom: 60px;
  font-weight: 900;
  color: #000000;
  text-transform: capitalize;
}
.text-2 h1 span {
  color: #eea539;
}
/*----------cards2 class-------------------------------------------*/
.card2-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 15vh;
  height: auto;
}
.card2 {
  width: 25%;
  height: 22vh;
  /*border: 1px solid blue;*/
  text-align: center;
  position: relative;
}
.card2 img {
  width: 90px;
  height: 90px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: #f4f7fb;
  box-shadow: -10px -10px -10px 2px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  padding: 23px;
}
.desc-2 {
  background: #f4f7fb;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
  /*border: 1px solid green;*/
  padding: 20px;
  height: 18vh;
  padding-top: 45px;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  z-index: -10;
}
.card2 h3 {
  text-transform: capitalize;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
}
.card2 p {
  color: #8a8a8a;
  font-size: 24px;
  padding: 12px 0;
}

/*-----------FOOTER------------------------------------------*/
footer {
  background: #000000;
}
.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px;
}
.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer-1 img {
  width: 300px;
  padding-bottom: 20px;
}
footer h1 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
}
.footer-1 h1 {
  padding: 40px 0;
}
.logo-2 {
  display: flex;
  gap: 20px;
}
.logo-2 img {
  width: 60px;
}
/*-------------------------------------------------*/
.footer-2 {
  display: flex;
  flex-direction: column;
}
.footer-2 h1 {
  color: #ffffff;
  padding-bottom: 80px;
}
.links-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.links-2 a {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}
.links-2 a span {
  color: #eea539;
}
/*-------------------------------------------------*/
.footer-3 {
  display: flex;
  flex-direction: column;
}
.footer-3 h1 {
  line-height: 55px;
  padding-bottom: 40px;
}
.search-bar-2 {
  display: flex;
  margin: 40px 0;
}

.search-bar-2 input {
  text-transform: capitalize;
  padding: 50px 30px;
  font-size: 16px;
  width: 450px;
  border: 1px solid #f4f7fb;
  border-right: none;
  border-radius: 8px 0 0 8px;
}
.search-bar-2 input::placeholder {
  color: #8a8a8a;
  font-size: 20px;
}
.search-bar-2 button {
  text-transform: capitalize;
  padding: 50px 50px;
  font-size: 20px;
  font-weight: bolder;
  background: #eea539;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/*---------------small screen---------------------------*/
@media screen and (max-width: 900px) {
  nav {
    padding: 20px;
  }
  .nav-cont {
    align-items: start;

    width: 100%;
    margin: 0 auto;
    gap: 30px;
  }
  .logo img {
    width: 12em;
  }
  .links {
    display: none;
    flex-direction: column;
    align-items: start;
  }
  .links a {
    padding: 0.7em 0;
    font-size: 1.5em;
  }
  .profile {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .profile img {
    width: 3em;
  }
  /* ----------------------- */
  .hamburger {
    display: block;
  }
  .hamburger img {
    width: 40px;
  }
  /* ------------------------ */
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .hero-content {
    flex: 1;
  }
  .head-p {
    padding: 20px 0;
  }
  .hero-content h1 {
    color: #000000;
    font-size: 3em;
    font-weight: 900;
  }

  .subtext {
    width: 100%;
  }
  /* ------------------------------- */
  .search {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .bar {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  .bar input {
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    align-items: start;
    outline: none;
    width: 100%;
    padding: 25px 25px 25px 10px;
  }
  .bar img {
    width: 50px;
    padding-left: 10px;
  }

  .search button {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .features {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
    margin-top: 20px;
  }

  .feature img {
    object-fit: cover;
    background: #000000;
    padding: 10px;
    width: 25%;
    border-radius: 50%;
    margin-bottom: 25px;
  }

  .feature {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background: #f4f7fb;
    text-align: center;
    margin-top: 40px;
  }
  .feature p {
    font-size: 1.5em;
  }
  .number {
    padding: 0.8em 0;
  }

  /*-------------------------------*/
  .hero-image {
    flex: 1;
    align-items: center;
    text-align: center;
  }

  .hero-image img {
    width: 90%;
    /*max-width: 550px;*/
  }

  .pizza-small {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .pizza-small img {
    width: 130px;
    height: 130px;
  }

  /*------------TEXT----------------------------------------*/
  .text {
    text-align: start;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0vh;
    border-bottom: none;
  }
  .text h1 {
    font-size: 2.9em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
  }
  .text-li {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .text-li h2 {
    font-size: 1.4em;
    padding: 1em 0;
  }
  .text-li .clas {
    padding: 0 20px;
    border-bottom: 4px solid #eea539;
  }
  .text h3 {
    padding: 1.5em 0;
  }

  /*-----------CLASS BIG------------------------------*/
  .big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-top: 2.5em;
  }
  .card {
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    /*height: 52vh;*/
    height: 0 auto;
    position: relative;
    /* border: 2px solid red;*/
  }
  .card img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }
  .desc {
    padding-top: 130px;
    /*height: 34vh;*/
    height: 0 auto;
    top: 130px;
  }
  .desc h2 {
    font-size: 1.3em;
  }
  .desc h3 {
    font-weight: bolder;
    font-size: 22px;
    padding: 1em 0;
  }
  .btn {
    padding: 20px;
    width: 200px;
    color: white;
    background: black;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 22px;
    position: absolute;
    bottom: -25px;
    transform: translateX(-50%);
    /*left: 0;
  right: 0;
  margin: 0 auto;*/
  }
  /*-----------------------------------------------------*/
  .view {
    padding: 20px;
    padding-bottom: 3em;
  }
  .view button {
    padding: 20px;
    width: 50%;
    font-size: 1.3em;
    margin: 4em 0;
  }
  /*------------------------------------------------------*/
  .why-us {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
  }

  .why-us-img img {
    width: 100%;
    height: auto;
  }
  .why-us-details-cover {
    align-items: start;
    width: 100%;
    height: auto;
  }
  .why-us-details {
    padding: 20px 0;
  }
  .why-us-details h3 {
    font-size: 1.7em;
    padding-bottom: 0px;
  }
  .why-us-details h1 {
    font-size: 3em;
    line-height: 1.2em;
    padding: 0.7em 0;
  }
  .why-us-details p {
    line-height: 1.7em;
    font-size: 1.3em;
    width: 100%;
    padding-bottom: 3vh;
  }

  .why-us-details2 {
    text-align: start;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background: none;
  }
  .why-us-card {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    margin: 2.3em 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .why-us-card img {
    padding: 1.4em;
    height: auto;
  }
  .card-details h2 {
    font-size: 2em;
    padding: 0em;
  }
  .card-details p {
    line-height: 1.3em;
    font-size: 1.3em;
    width: 100%;
    padding: 0.6em 0;
  }
  /*----------------------------------------------------*/
  .text-2 {
    text-align: start;
    margin-top: 0vh;
    padding: 20px;
  }
  .text-2 h3 {
    padding: 1.6em 0;
  }
  .text-2 h1 {
    font-size: 2.5em;
    margin-bottom: 0px;
    line-height: 1.2em;
  }

  /*----------cards2 class-------------------------------------------*/
  .card2-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 9em;
    padding: 20px;
    margin-bottom: 0vh;
    width: 100%;
    height: auto;
  }
  .card2 {
    width: 100%;
    height: auto;
    text-align: start;
  }
  .card2 img {
    width: 90px;
    height: auto;
  }

  /*--------------------------FOOTER-----------------------*/
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 50px 20px;
    margin-top: 20vh;
    gap: 50px;
  }
  .footer-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
  .footer-1 img {
    width: 80%;
    padding-bottom: 0.8em;
  }
  .footer-1 h1 {
    padding: 40px 0;
    font-size: 2em;
  }
  .logo-2 {
    display: flex;
    gap: 20px;
  }
  .logo-2 img {
    width: 15%;
  }
  .footer-2 h1 {
    margin-bottom: 1.5em;
    padding: 0;
    font-size: 1.8em;
  }
  .links-2 {
    gap: 20px;
  }
  .links-2 a {
    font-size: 1.5em;
  }
  .footer-3 h1 {
    width: 100%;
  }
  .search-bar-2 {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    gap: 20px;
  }
  .search-bar-2 input {
    padding: 30px;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
  }
  .search-bar-2 input::placeholder {
    color: #8a8a8a;
    font-size: 1.3em;
  }
  .search-bar-2 button {
    width: 100%;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 8px;
    cursor: pointer;
  }
}
